{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<!-- main -->
<main class="container m-2 w-75 mx-auto my-font-family">

    <div class="row">
        <div class="col text-center m-0">
            <h2 class="mt-2 mb-5 my-h2">Aluno - Atualizar</h2>
        </div>
    </div>

    <!-- formulario HTML -->
    <form name="frmAlunoAtualizar" action="/alunos/atualizarAluno" method="post" class="my-label-color-purple">{% csrf_token %}

        <input type="hidden" id="idMatriculaAluno" name="matriculaAluno" value="{{ aluno.matricula }}">  

        <div class="form-group row">
            <label for="idMatricula" class="col-sm-2 col-form-label">Matrícula</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="idMatricula" name="matricula" maxlength="45" value="{{ aluno.matricula }}" readonly>  
            </div>
        </div>

        <div class="form-group row">
            <label for="idNomeAluno" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="idNomeAluno" name="nomeAluno" value="{{ aluno.nome }}" maxlength="50" required>  
            </div>
        </div>

        <div class="form-group row">
            <label for="idTurma" class="col-sm-2 col-form-label">Turma</label>
            <div class="col-sm-10">
                <select class="form-control" id="idTurma" name="turma">
                    <option value="0" selected>Selecione</option>
                    {% for turma in turmas %}
                        {% if aluno.turma.codigo == turma.codigo %}
                            <option value="{{ turma.codigo }}" selected>{{ turma.codigo }} - {{ turma.serie }} série</option>
                        {% else %}
                            <option value="{{ turma.codigo }}">{{ turma.codigo }} - {{ turma.serie }} série</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group my-4 text-center">
            <input type="reset" value="Limpar" class="btn btn-primary btn-md">
            <input type="submit" value="Atualizar" class="btn btn-primary btn-md">
        </div>

    </form>

</main>

{% endblock conteudo %}