{% extends 'base.html' %}

{% block conteudo %}
<!-- main -->
<main class="container m-2 w-75 mx-auto my-font-family">

    <div class="row">
        <div class="col text-center m-0">
            <h2 class="mt-2 mb-0 my-h2">Aluno - Listar</h2>
        </div>
    </div>

    <div class="table-responsive">

        <table class="table
                      table-borderless
                      text-center
                      my-table-hover
                      my-table-td-first-child
                      my-table-border-bottom
                      my-table-th">

            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>Turma</th>
                    <th>Professor</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>

                <!-- listar alunos -->
                {% if alunos %}

                    {% for aluno in alunos %}

                        <tr>
                            <td>{{ aluno.matricula }}</td>
                            <td>{{ aluno.nome }}</td> 

                            <td>
                                {% if aluno.turma %}
                                    <button type="button" class="btn" role="button" data-target="#modalTurma"
                                        data-toggle="modal" data-codigo="{{ aluno.turma.codigo }}"
                                        data-serie="{{ aluno.turma.serie }}" data-sala="{{ aluno.turma.sala }}"
                                        data-horainicial="{{ aluno.turma.horaInicial}}" data-horafinal="{{ aluno.turma.horaFinal }}">
                                        {{ aluno.turma.codigo }}
                                    </button>
                                {% else %}
                                    <i class="fas fa-minus"></i>
                                {% endif %}
                            </td>

                            <td>
                                {% if aluno.turma.professor %}
                                    {{ aluno.turma.professor.nome }}
                                {% else %}
                                    <i class="fas fa-minus"></i>
                                {% endif %}
                            </td>

                            <td>
                                <a href="{% url 'atualizarAluno' aluno.matricula %}" class="btn btn-mini"><i class="far fa-edit"></i></a>
                                <button type="button" class="btn" role="button" data-target="#modalExcluirAluno"
                                        data-toggle="modal"  data-nome="Aluno(a) {{ aluno.nome }}" data-url="{% url 'excluirAluno' aluno.matricula %}">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>

                        </tr>
                    
                    {% endfor %}
            
                {% else %} 
                
                    <tr>
                        <td colspan="6">Não existem alunos cadastrados</td>
                    </tr> 
                
                {% endif %}

            </tbody>
            
        </table>

    </div>

</main>

<!-- Modais -->
<div class="modal fade" id="modalTurma" role="dialog" aria-labelledby="{{ turma.codigo }}" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h5 id="tituloModal" class="modal-title meu-h5-font-size">Dados da Turma</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="meu-h5-font-size">Código:</h5>
                        </div>
                        <div class="col-md-8 text-left">
                            <h5 id="idTurmaCodigo" class="meu-h5-basic"></h5>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="meu-h5-font-size">Série:</h5>
                        </div>                   
                        <div class="col-md-8 text-left">
                            <h5 id="idTurmaSerie" class="meu-h5-basic"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="meu-h5-font-size">Sala:</h5>
                        </div>
                        <div class="col-md-8 text-left">
                            <h5 id="idTurmaSala" class="meu-h5-basic"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="meu-h5-font-size">Hora Inicial:</h5>
                        </div>
                        <div class="col-md-8 text-left">
                            <h5 id="idTurmaHoraInicial" class="meu-h5-basic"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="meu-h5-font-size">Hora Final:</h5>
                        </div>
                        <div class="col-md-8 text-left">
                            <h5 id="idTurmaHoraFinal" class="meu-h5-basic"></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Fechar</button>
            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="modalExcluirAluno" role="dialog" aria-labelledby="Confirmação" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p id="mensagemExclusao"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
            </div>

        </div>

    </div>
</div>

{% endblock conteudo %}

{% block javascript_complementar %}
    <!-- Prepara o modal com os dados da imagem do professor -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#modalTurma').on('show.bs.modal', function(event) {
                var codigo = $(event.relatedTarget).data('codigo');
                var serie = $(event.relatedTarget).data('serie');
                var sala = $(event.relatedTarget).data('sala');
                var horaInicial = $(event.relatedTarget).data('horainicial');
                var horaFinal = $(event.relatedTarget).data('horafinal');
                $("#idTurmaCodigo").text(codigo);
                $("#idTurmaSerie").text(serie);
                $("#idTurmaSala").text(sala);
                $("#idTurmaHoraInicial").text(horaInicial);
                $("#idTurmaHoraFinal").text(horaFinal);
            });

            $('#modalExcluirAluno').on('show.bs.modal', function(event) {
                var nomeAluno = $(event.relatedTarget).data('nome');
                var urlExcluir = $(event.relatedTarget).data('url');
                $("#mensagemExclusao").text("Excluir " + nomeAluno + "?");

                $.fn.excluirAluno = function() {
                    var url = $(event.relatedTarget).data('url');
                    location.replace(url);
                }
            });
        
            $("#btnExcluir").on('click', function() {
                $.fn.excluirAluno();
                return false;
            });            
        });
    </script>
{% endblock javascript_complementar %}