{% extends 'base.html' %}

{% block conteudo %}
<!-- main -->
<main class="container m-2 w-75 mx-auto my-font-family">

    <div class="row">
        <div class="col text-center m-0">
            <h2 class="mt-2 mb-5 my-h2">Professor - Cadastrar</h2>
        </div>
    </div>

    <!-- formulario HTML -->
    <form name="frmProfessorCadastrar" action="/professores/cadastrarProfessor" method="post" class="my-label-color-purple" enctype="multipart/form-data">{% csrf_token %}
    <!--form name="frmProfessorCadastrar" action="/professores/cadastrarProfessor" method="post" class="my-label-color-purple">{% csrf_token %} -->

        <div class="form-group row">
            <label for="idNomeProfessor" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="idNomeProfessor" name="nomeProfessor" placeholder="Informe o nome do professor" maxlength="45" required>  
            </div>
        </div>

        <div class="form-group row">
            <label for="idTitularidade" class="col-sm-2 col-form-label">Titularidade</label>
            <div class="col-sm-10">
                <select class="form-control" id="idTitularidade" name="titularidade">
                    <option value="0" selected>Selecione</option>
                    {% for titularidade in titularidades %}
                        <option value="{{ titularidade.codigo }}">{{ titularidade.nome }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="idFotoProfessor" class="col-sm-2 col-form-label">Foto</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" id="idFotoProfessor" name="fotoProfessor" placeholder="Insira a foto do professor">  
            </div>
        </div>

        <div class="form-group my-4 text-center">
            <input type="reset" value="Limpar" class="btn btn-primary btn-md">
            <input type="submit" value="Cadastrar" class="btn btn-primary btn-md">
        </div>

    </form>

</main>

{% endblock conteudo %}