{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<!-- main -->
<main class="container m-2 w-75 mx-auto my-font-family">

    <div class="row">
        <div class="col text-center m-0">
            <h2 class="mt-2 mb-0 my-h2">Turma - Atualizar</h2>
        </div>
    </div>

    <!-- formulario HTML -->
    <div class="row w-50 my-4 mx-auto">

        <div class="col">
            <img src="{% static 'img/paginaemconstrucao.jpg' %}" class="rounded img-fluid">
        </div>

    </div>

</main>

{% endblock conteudo %}